@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@500&display=swap');

*{
    padding: 0;
    margin:0;
    display: border-box;
}

body{
    background-color: rgb(7, 173, 173);
    height: 100vh;
    /* display: grid; */
    /* align-items: center; */
    /* justify-content: center; */
    font-family: inter;
}
::root{
    --font-color:  black;
}

.id-container{
    background-image: url('images/mapBG.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 70%;
    /* background-blend-mode: hard-light; */
    border: 2px solid black;
    /* margin-top: 50px; */
    /* position:absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    background-color: skyblue;
    height: 300px;
    width: 500px;
    display: grid;
    padding: 15px 30px;
    border-radius: 20px;
    grid-template-columns:2.4fr 2fr 2.4fr;
    grid-template-rows: repeat(6, 1fr);
}

/* HEADER */
.header{
    /* background-color: aliceblue; */
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    
}
#flag{
    height: 2rem;
}
#shield{
    padding-left: 3.2rem;
    width: 3rem;
}
.caption{
    text-align: center;
}
span{
    font-size: 0.7rem;
    font-weight: 500;
}

/* PICTURE */
.picture{
    /* background-color: aquamarine; */
    border: 1px solid black;
    border-radius:12px;
    grid-column: 1/2;
    grid-row: 2/6;
}
.picture > img{
    /* background-image:url('images/idPhoto.jpg'); */
    height: 100%; 
    width: 100%;
    border-radius:12px;
}

/* DETAILS */
.details{
    /* background-color: rgb(44, 167, 223); */
    grid-column: 2/4;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns:0.65fr 1.2fr ;
    padding: 15px;
}
h6{
    font-size: .54rem;
    font-weight:200;
}
h5{
    padding-top: 5px;
    font-size: 0.9rem;
}
.surName{
    grid-column: 1/3;
}
.sexPlace{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.address{
    grid-column: 1/3;
}
.bloodType{
    padding-top: 15px;
}
.eyesColor{
    padding-top: 15px;
}



/* BARCODE */
.barcode{
    height: 2.8rem;
    /* background-image: url('images/mapBG.png'); */
    background-image: url('images/barcode.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    border: 1px solid black;

}

/* .barcode > img{
    height: 2.8rem;
    width: 11rem;
    
} */

#qrCode{
    height: 2.8rem;
    width: 11rem;
    background-image: url('images/barcode.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    border: 1px solid black;
}

/* FORM modal */
form{
    z-index: 5;
    display: none;
    position: absolute; 
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    background-color: bisque;
    border: 2px solid black;
    height: 400px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    border-radius: 20px;
    /* justify-content: center; */
    /* align-content: center; */
}

.modal-bg{
    z-index: 2;
    display: none;
    background-color: aqua;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
     /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
}

form > input, select{
    height: 2rem;
}

.formName{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.formName > input{
    width: 90px;
}
.formBirth{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.formBirth > input{
    width: 90px;
}
.formAddress{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}
.formTypes{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3,1fr);  
}

/* SETTINGS */
.settings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#dropdown{
    background: aqua;
    display: none;
}
#dropdown > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


.wrapper{
    /* height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    */

    /* position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 120px;
    display: grid;
    justify-content: center;
} 



/* EDIT MODE CSS */
#eyesID:disabled{
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bold;
    font-size: 0.9rem;
    width: 50%;
    border: none;
    color:var(--font-color);
    appearance: none;
}

#bloodID:disabled{
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bold;
    font-size: 0.9rem;
    width: 50%;
    border: none;
    color:var(--font-color);
    appearance: none;
}
#addressID{
    resize:none;
    width: 90%;
    height: 50px;
    /* font-family: inter;
    font-size: bolder;
    background-color: white; */

}
#addressID:disabled{
    background-color: transparent;
    font-weight: bolder;
    font-size: 0.9rem;
    width: 90%;
    height: 50px;
    border: none;
    color:var(--font-color);
    appearance: none;
    resize:none;
}
#birthID{
    width: 90%;
}
#birthID:disabled{
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bold;
    font-size: 0.9rem;
    width: 90%;
    color:var(--font-color);  
    border: none;
}
#sexID{
    font-size: 0.9rem;
    width: 50%;
}
#sexID:disabled{
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bold;
    font-size: 0.9rem;
    width: 25%;
    color:var(--font-color);  
    border: none;
}
#birthDateID:disabled{
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bolder;
    font-size: 1rem;
    width: 100%;
    border: none;
    color:var(--font-color);
    appearance: none;
}
#fullNameID{
    width: 100%;
}
#fullNameID:disabled {
    background-color: transparent;
    /* font-family: inter; */
    font-weight: bold;
    font-size: .9rem;
    width: 100%;
    border: none;
    color:var(--font-color);
    appearance: none;
}