:root{
    --debug: 2px solid black;
}
.Card{
    background-color: aliceblue;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    min-width: 500px;
    border-radius: 15px;
    border:2px solid var(--id-border);
    overflow: hidden;
    box-shadow: var(--shadow);
}
.cardHeader{
    background: linear-gradient(
        to right,var(--blue-bg-color),
         var(--id-bg-color), 
        var(--blue-bg-color));
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid var(--id-border);
    padding:10px;
}
.cardBody{
    margin: 20px;
}

.newDetailLabel{
    padding:5px
}

input, select {
    border-radius: 15px;
    margin-bottom: 5px;
    height: 35px;
}
.uploadText{
    font-weight: bold;
    text-decoration: underline;
}
.profilePictureContainer{
    border: 2px dashed #39b9da;
	border-radius: 40px;
	width: 350px;
	text-align: center;
    
    margin-left: auto;
    margin-right: auto;
}
.uploadButton{
    position: relative;
	top: -22px;
    left: 5px;
}
.uploadIcon{
    display: block;
    margin: 20px auto;
    max-width: 50px;
    max-height: 50px;
}
#profilePicture{
opacity: 0%;
cursor: pointer;

}