/* Animations */
@keyframes floatUp{
    from{
        transform: translate(-50%,-30%);
        filter: blur(0.8rem);
    }
    to{
        transform: translate(-50%,-50%);
        filter: blur(0);
    }}
@keyframes floatDown{
    from{
        transform: translate(-50%,-50%);
    }
    to{
        transform: translate(-50%,-30%);
    }}
@keyframes blur{
    from{
        transform: scale(1.03,1.03);
        filter: blur(0);
    }
    to{
        transform: scale(1.0,1.0);
        filter: blur(0.1rem);
    }}
@keyframes unblur {
    0%{
        transform: scale(1.0,1.0);
    }
    50%{
        transform: scale(1.03,1.03);
    }
    to{
        transform: scale(1.0,1.0);
    }}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }}
@keyframes unwrapSettings {
    from {
        opacity: 0%;
        min-width: 0px;}
    to {
        opacity: 100%;
        min-width: 300px;
        min-width: 300px;}}
@keyframes wrapSettings {
    from {
        opacity: 100%;
        min-width: 300px;
    to {
        opacity: 0%;}}}
.blur{
    animation: blur 0.75s ease;
    animation-fill-mode: forwards;}
.unblur{animation: unblur 0.55s ease;}
.floatUp {
    animation-name: floatUp ;
    animation-duration: 0.55s;
    animation-timing-function: ease;
    display: block;}
.show{display: block;}
.hide{display: none;}
.shadow{
    box-shadow:  var(--shadow);
    margin-top: 50px;}
.profilePictureContainer.highlight{border: 5px dashed purple;}
.gearIconContainer{
    position: absolute;
    left: 50%;
    top: 410px;
    transform: translate(-250px);}    
.gearIcon{
    display: inline-block;
    background: var(--gear-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    animation: spin 10s infinite ease-in-out;
    opacity: 25%;
    z-index: 3;}

.clickHere{
    position: inherit;
    width: 250px;
    transform: translateY(15px);
    display: inline;
    opacity: 25%;
    z-index: -1;}
.settings{
    position: absolute;
    top: -15px;
    opacity: 0%;
    min-width: 300px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    z-index: 0;}
.gearIconHover{animation: spin 1.5s infinite linear;opacity: 100%;
}
.unwrap {
    animation: unwrapSettings 1.5s forwards 1;
}
.wrap{
    animation: wrapSettings 0.5s forwards 1;
}