/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');





:root {
    --debug: 2px solid black;

    /* colors */
    --main-bg-color: brown;
    --blue-bg-color: #c5d2da;
    --id-bg-color:   #c7eefe; 
    --id-border: black;
    --font-color: rgb(0, 0, 0);
    --shadow: 5px 5px 10px 1px rgb(20, 20, 20);
    
    /* font-family */
    --font-barcode: 'Libre Barcode 128', cursive;
    --font-details:Inter;

    /* images */
    --profile-picture: url("../assets/defaultPicture.jpg");
    --id-bg-image: url("../assets/actualId.png");
    --upload-icon: url("../assets/uploadIcon.svg");
    --gear-icon: url("../assets/gearIcon.svg");
    --edit-icon: url("../assets/editIcon.svg");
    --download-icon: url("../assets/downloadIcon.svg");
    --form-icon: url("../assets/formIcon.svg");
}

*{
    font-family: var(--font-details);
    box-sizing: border-box;
    margin:0;
}

body {
    background-color: var(--blue-bg-color);
    display:grid;
}
#blank{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.12);
    z-index: 1;
}

.actualId{
    background: var(--id-bg-image);
    border: 1px solid var(--id-border);

    grid-template-columns: 
        141.91px 35.48px 100.45px
        70.96px 70.96px 70.96px;
    grid-template-rows: 
        80px 10px
        30px 10px 
        30px 10px 
        50px 10px
        20px 50px;
    gap: 1px;

    width: 500px;
    height: 350px;
    min-width: 500px;
    min-height:350px;    
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    overflow: hidden;
}
.profile{
    background: var(--profile-picture);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid var(--id-border);
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.barcode{
    border-radius: 10px;
    width: 51px;
    height: 51px;
    font-size: 30px;
    margin-top: 5px;
    margin-left: 64px;
}
.republic {
    padding-top: 15px;
}
.national{
    padding-top:27px;
}
.submitButton{
    margin-top: 20px;
    background-color: lightgreen;
}
.cancelButton{
    margin-top: 10px;
    background-color: rgb(238, 150, 144);
}
.formButton{
    grid-column: 1/3;
    margin-left: auto;
    margin-right: auto;
    min-height: 30px;
    min-width: 350px;
    border-radius: 15px;
}

.description{
    font-size: 7px;
}
.small {
    font-size: 12px;
}
.big {
    font-size: 20px;
}
.centered-text{
    text-align: center;
}
.pt-13{
    margin-top:13px;
}

.data {
    font-size: 15px; 
    font-weight: bold;
}

#newDetails{
    position: absolute;
    z-index: 2;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* animation: floatUp 3s ease-in 0 1 normal forwards; */
}
#actualId:hover{
    transform: scale(1.03,1.03);
    transition-duration: 0.25s;
    transition-timing-function: ease;
}   
.Button {
    
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    width: max-content;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #4CAF50;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .Button:hover {
    background-color: #45a049;
  }
  
  .Button:focus {
    outline: none;
  }
  
.editIcon{
    position: inherit;
    background: var(--edit-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    left: 90px;
}
.downloadIcon{
    position: inherit;
    background: var(--download-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-top: 8px;
    left: 230px;
}
.formIcon{
    position: inherit;
    background: var(--form-icon);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    margin-top: 4px;
    left: 160px;
}
.formIcon:hover, .downloadIcon:hover, .editIcon:hover{
    transform: scale(1.15, 1.15);
    filter: drop-shadow(5px 5px 1px rgb(6, 189, 180));
}