header {
    position: absolute;
    top: 0;    
}

.default-padding {
    padding: 0 350px;
}

body {    
    font-family: Arial, Helvetica, sans-serif;
}

.custom-navbar .nav-link {
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.nav-item {
    padding-left: 20px;
}

.nav-item:hover {
    background-color: #53c2c9;
    padding: 0.25px 0.25px;
    border-radius: 10px;
    transition: 0.4s;
}

.styledText {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.2) 400%, rgba(255, 255, 255, 0.1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}